/* ! Variables */

/* ! Global styling */

* {
  font-family: "Press Start 2P", cursive;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 672px;
}

/* ! Header */

header {
  height: 72px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  user-select: none;
}

/* * Player */

/* * Highscore */

/* ! Main */

main {
  background-image: url(/images/maze-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 744px;
  user-select: none;
}

body > h2 {
  display: none;
  position: absolute;
  color: yellow;
  margin-top: 120px;
}

#splash {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* ? Why cant I put 100% here */
  height: inherit;
  background-color: black;
  text-align: center;
  padding-top: 300px;
}

#splash h2 {
  padding-bottom: 75px;
}

h2 > span {
  font-size: 0.8rem;
}

.beige {
  color: navajowhite;
}

.blue {
  color: aqua;
}

.peach {
  color: rgb(228, 206, 214);
}

/* * Grid Wrapper */

#grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 672px;
}

.gridItem {
  background-size: contain;
}

/* ! Class images */

.pellet {
  background-image: url(/images/pellet.png);
  background-repeat: no-repeat;
  background-position: center;
}

.power-pellet {
  /* background-image: url(/images/power-pellet.png); */
  background-repeat: no-repeat;
  background-position: center;
}

.pacman {
  background-image: url(/images/p-left1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.binky {
  background-image: url(/images/binky-left1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.binky.scared,
.inky.scared,
.pinky.scared,
.clyde.scared {
  background-image: url(/images/scared-blue1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.inky {
  background-image: url(/images/inky-up1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.pinky {
  background-image: url(/images/pinky-down1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.clyde {
  background-image: url(/images/clyde-up1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.cherry {
  background-image: url(/images/bonus/cherry.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 32px;
  width: 32px;
}

/* ! Footer */

footer {
  height: 48px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: white;
  user-select: none;
}

/* * Lives */

#lives {
  display: flex;
}

.life {
  background-image: url(/images/p-left1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 32px;
  width: 32px;
}

/* * Bonus */
